body{
	width: 100%;
	float: left;
	margin: 0;
}
.container{
	width: 1024px;
	margin: 0 auto;
	background-color: #EEE;
}
header{
	float: left;
	width: 100%;
	color: #FFF;
	background-color: #AF7676;
	height: 50px;
}

.header-container{
	width: 1024px;
	margin: 0 auto;
}
header h1{
	float: right;
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	width: 100px;
	padding: 0;
	margin: 0;
	
}
header h2{
	float: right;
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	width: 75px;
	padding: 0;
	margin: 0;
	margin-right: 40px;
}
header h3{
	float: right;
	text-align: center;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
	width: 65px;
	padding: 0;
	margin: 0;
	margin-right: 40px;
}
header h1:hover{
	font-weight: normal;
	border-bottom: solid 3px #FF8D8D;
}
header h2:hover{
	font-weight: normal;
	border-bottom: solid 3px #FF8D8D;
}
header h3:hover{
	font-weight: normal;
	border-bottom: solid 3px #FF8D8D;
}
.header-right a{
	text-decoration: none;
	color: #FFF;
}
.header-left{
	float: left;
	width: 10%;
}
.header-right{
	float: right;
	width: 50%;
	margin-top: 15px;
}

.work-item {
    float: left;
    color: #AF7676;
    width: 290px;
    margin-left: 70px;
    margin-top: 12px;
    opacity: 0.1;
}
.header-right h3:hover.work-item{
	opacity: 1;
}

.work-item h4 {
    float: left;
    background-color: #FFF;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: helvetica;
    border: 2px solid #AF7676;
    border-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: lighter;
}
.work-item h4:hover{
	background-color: #AF7676;
	color: #fff;
}
.home{
	float: left;
	width: 100%;
	margin-top: 60px;
}
.home-left {
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-top: 40px;
}
.home-left img {
	width: 100%;
}
.home-right{
	float: right;
	width: 50%;
	margin-right: 5%;
	margin-top: 240px;
	color: #AF7676;

}
.home-right h2{
	margin-left: 20px;
	font-size: 18px;
	font-weight: lighter;
	font-family: helvetica;
}
.resume {
    width: 100%;
    float: left;
    margin-top: 40px;
    margin-bottom: 70px;
}
.resume h3{
	text-align: center;
	width: 140px;
	float: none;
	margin: 0 auto;
	color: #AF7676;
	font-family: helvetica;
	font-size: 20px;
	border:solid 2px #AF7676;
	padding-top: 10px;
	padding-bottom: 10px;

}
.resume h3:hover{
	color: #fff;
	background-color: #AF7676;
}
.resume a{
	text-decoration: none;
}
.work{
	float: left;
	width: 100%;
	border-top: solid 1px #AF7676;
	margin-bottom: 50px;
}
.work-id{
	float: left;
}
.head-w {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.head-w h2{
	text-align: center;
	color: #AF7676;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
}

.beer{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/beer.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.animal{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/star.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.datavis{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/datavisual.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.reminder{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/Reminder-h.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.weekend{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/weekend.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.partyup{
	float: left;
	width: 310px;
	height: 280px;
	background-image: url(images/partyup.svg);
	box-shadow: 2px 2px 4px #CCCCCC;
	margin: 15px;
}
.work h3{
	float: left;
	width: 100%;
	font-size: 30px;
	color: #FFF;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	text-shadow:4px 4px 6px #000;
	margin-top: 120px;
}

.work h4{
	float: left;
	width: 100%;
	font-size: 30px;
	color: #FFF;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	text-shadow:4px 4px 6px #000;
	margin: 0;
	padding: 0;
	margin-top: 75px;
	display: none;
}
.work h5{
	float: left;
	width: 100%;
	font-size: 30px;
	color: #FFF;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	text-shadow:4px 4px 6px #000;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	display: none;
}
.work h6{
	float: left;
	width: 100%;
	font-size: 30px;
	color: #FFF;
	font-family: helvetica;
	font-weight: lighter;
	text-align: center;
	text-shadow:4px 4px 6px #000;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	display: none;
}
.beer:hover.beer h3{
	display: none;
}
.beer:hover.beer h4{
	display: block;
}
.beer:hover.beer h5{
	display: block;
}
.beer:hover.beer h6{
	display: block;
}
.beer:hover{
	background: url(images/beer-b.svg);
	box-shadow: none;
}   /*beerhover*/
.animal:hover.animal h3{
	display: none;
}
.animal:hover.animal h4{
	display: block;
}
.animal:hover.animal h5{
	display: block;
}
.animal:hover.animal h6{
	display: block;
}
.animal:hover{
	background: url(images/star-b.svg);
	box-shadow: none;
}
.datavis h3{
	margin-left: 50px;
    margin-top: 140px;
}
.datavis:hover.datavis h3{
	display: none;
}
.datavis:hover.datavis h4{
	display: block;
}
.datavis:hover.datavis h5{
	display: block;
}
.datavis:hover.datavis h6{
	display: block;
}
.datavis:hover{
	background: url(images/datavisual-b.svg);
	box-shadow: none;
}  
.reminder:hover.reminder h3{
	display: none;
}
.reminder:hover.reminder h4{
	display: block;
}
.reminder:hover.reminder h5{
	display: block;
}
.reminder:hover.reminder h6{
	display: block;
}
.reminder:hover{
	background: url(images/reminder-h-b.svg);
	box-shadow: none;
}   /*reminderhover*/
.weekend:hover.weekend h3{
	display: none;
}
.weekend:hover.weekend h4{
	display: block;
}
.weekend:hover.weekend h5{
	display: block;
}
.weekend:hover.weekend h6{
	display: block;
}
.weekend:hover{
	background: url(images/weekend-b.svg);
	box-shadow: none;
}   /*weekendhover*/

.partyup:hover.partyup h3{
	display: none;
}
.partyup:hover.partyup h4{
	display: block;
}
.partyup:hover.partyup h5{
	display: block;
}
.partyup:hover.partyup h6{
	display: block;
}
.partyup:hover{
	background: url(images/partyup-b.svg);
	box-shadow: none;
}   /*partyhover*/
.about{
	float: left;
	width: 100%;
	border-top: solid 1px #AF7676;
	margin-bottom: 45px;
	text-align: left;
}
.about-left{
	float: left;
	width: 25%;
	margin-left: 15%;
}
.about-right{
	float: right;
	width: 45%;
	margin-right: 15%;
	margin-top: 50px;
}

.about-id{
	float: left;
}

.head-a {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.head-a h2{
	text-align: center;
	color: #AF7676;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
}
.about h3{
	color: #AF7676;
	font-size: 20px;
	font-weight: lighter;
	font-family: helvetica;
}
.contact{
	float: left;
	width: 100%;
	border-top: solid 1px #AF7676;
}
.contact-id{
	float: left;
}

.head-c {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
}

.head-c h2{
	text-align: center;
	color: #AF7676;
	font-family: helvetica;
	font-size: 20px;
	font-weight: lighter;
}
.contact-left {
    float: left;
    width: 35%;
    margin-left: 15%;
}
.contact-left h3 {
    color: #AF7676;
    font-weight: lighter;
    font-size: 16px;
    font-family: helvetica;
    line-height: 23px;
    margin: 10px;
    margin-right: 60px;
    margin-left: 0;
}
.contact-right {
    float: right;
    width: 35%;
    margin-right: 15%;
    margin-top: 10px;
}
.contact-right h4 {
    float: left;
    width: 20%;
    margin: 0;
    margin-top: 8px;
    font-weight: lighter;
    font-family: helvetica;
    color: #AF7676;
    font-size: 16px;
}
.contact-right input {
    float: right;
    width: 78%;
    height: 25px;
    border: navajowhite;
    color: #AF7676;
    font-size: 16px;
    font-family: helvetica;
}
.name {
    float: left;
    width: 100%;
    border-bottom: solid 2px#AF7676;
    margin-bottom: 20px;
}

.email{
	float: left;
	width: 100%;
	border-bottom: solid 2px#AF7676;
}

.drop{
	float: left;
	width: 100%;
}
.drop-container {
    width: 70%;
    margin: 0 auto;
    float: none;
}
.drop-border {
    border-bottom: solid 2px#AF7676;
    float: left;
    width: 100%;
}
.drop textarea {
    float: right;
    width: 78%;
    height: 25px;
    color: #AF7676;
    font-size: 16px;
    font-family: helvetica;
    height: 60px;
    border:none;
}
.drop h4 {
    float: left;
    width: 20%;
    margin: 0;
    margin-top: 50px;
    font-weight: lighter;
    font-family: helvetica;
    color: #AF7676;
    font-size: 16px;
}
.send {
    width: 100%;
    float: left;
    margin-top: 60px;
    margin-bottom: 60px;
}
.send h3{
	text-align: center;
	width: 180px;
	float: none;
	margin: 0 auto;
	color: #AF7676;
	font-family: helvetica;
	font-size: 16px;
	border:solid 2px #AF7676;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: lighter;

}
.send h3:hover{
	color: #fff;
	background-color: #AF7676;
}
.send a{
	text-decoration: none;
}
.information{
	float: left;
	width: 100%;
	font-size: 16px;
	font-weight: lighter;
	font-family: helvetica;

}
.information a{
	text-decoration: none;

}
.info-con {
    width: 56%;
    margin: 0 auto;
}
.info-con a{
	color:  #AF7676;
	margin: 10px;
}
.social{
	float: left;
	width: 100%;
	font-size: 16px;
	font-weight: lighter;
	font-family: helvetica;
	margin-top: 50px;
	margin-bottom: 50px;

}
.social a{
	text-decoration: none;

}
.social-con {
    width: 31%;
    margin: 0 auto;
}
.social-con img {
    height: 27px; 
}
.social-con img:hover {
    opacity: 0.7;
}
.social-con a{
	color:  #AF7676;
	margin: 40px;
}
.code{
	float: left;
	width: 100%;
	background-color: #AF7676;
}
.code h4{
	font-size: 12px;
	color: #FFF;
	font-family: helvetica;
	text-align: center;
	font-weight: lighter;
}
/*index*/
.header-beer{
	background-color: #102E58;
	width: 100%;
	float: left;
	height: 50px;
}
.code-beer{
	float: left;
	width: 100%;
	background-color: #102E58;
}
.beer-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	color: #102E58;
}

.beer-discription {
    margin: 0 auto;
    width: 1000px;
    padding-top: 70px;
    padding-bottom: 300px;
}
.beer-dis-left{
	float: left;
	width: 35%;
}
.beer-dis-left img{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.beer-dis-right{
	float: right;
	width: 60%;
	margin-left: 5%;
	
	text-align: left;

}
.beer-dis-right h2{
	padding-bottom: 10px;
    margin-top: 20px;
}
.beer-dis-right h3{
	margin-top: 15px;
	margin-right: 30px;
}

.beer-project h2{
	font-size: 20px;
	font-weight: lighter;

}
.beer-project p{
	font-size: 18px;
	font-weight: lighter;
}
.beer-project h3{
	float: left;
	font-size: 20px;
	font-weight: lighter;
}
.beer-challenge {
    float: left;
    width: 100%;
    background-color: #E9ECF0;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.beer-challenge h2{
	padding-bottom: 30px;
}
.beer-interview{
	float: left;
	width: 100%;
	text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}
.beer-interview h2{
	padding-bottom: 30px;
}
.beer-interview p{
	margin: 0 auto;
	width: 478px;
	text-align: left;
	padding-bottom: 15px;

}
.beer-persona{
	text-align: center;
	background-color: #E9ECF0;
	float: left;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.beer-persona-con{
	margin: 0 auto;
	width: 90%;
	padding-top: 40px;
}
.beer-persona img {
    float: left;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
}
.beer-content{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
}
.beer-content img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-sitemap{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
	background-color: #E9ECF0;
}
.beer-sitemap img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-journey{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
}
.beer-journey img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-wireframe{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
	background-color: #E9ECF0;
}
.beer-wireframe img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-moodboard{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
}
.beer-moodboard img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-branding{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
	float: left;
	background-color: #E9ECF0;
}
.beer-branding img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-mockup{
	float: left;
	width: 100%;
	padding-top: 70px;
    padding-bottom: 70px;
}
.beer-mockup p{
	margin-top: 40px;
}
.beer-mockup-con {
    width: 944px;
    
    text-align: center;
    margin: 0 auto;
}
.beer-mockup-l{
	float: left;
}
.beer-mockup-r{
	float: right;
}
.beer-mockup img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.beer-design{
	float: left;
	width: 100%;
	text-align: center;
	background-color:#E9ECF0;
	padding-top: 70px;
    padding-bottom: 70px;
}
.beer-design p{
	margin-top: 40px;
}
.beer-design a{
	text-decoration: none;
	color: #102E58;
}
.beer-design a:hover{
	text-decoration: underline;
}
.beer-watch{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 70px;
    padding-bottom: 70px;
}
.beer-watch h2{
	font-weight: normal;
}
/*silentshield*/
.header-traffic{
	background-color: #464646;
	width: 100%;
	float: left;
	height: 50px;
	z-index: 2;
	position: absolute;
}

.traffic-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	color: #323232;

}
.traffic-project h2{
	color: #FFCC33;
	font-size: 20px;
	text-align: center;
	padding-bottom: 40px;
}
.traffic-project h3{
	color: #FFF;
	font-size: 18px;
	font-weight: normal;
}
.traffic-project h4{
	color: #C7C7C7;
	font-size: 18px;
	font-weight: normal;
}

.code-traffic{
	background-color: #464646;
	float: left;
	width: 100%;
}
.traffic-h{
	float: left;
	width: 100%;
	background-color: #323232;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	z-index: 1;
}
.traffic-datasetuse{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
}
.traffic-datasetuse-con{
	width: 600px;
	margin: 0 auto;
}
.traffic-data-interview{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
}

.traffic-data-interview h3{
    margin: 0 auto;
    width: 800px;
    margin-bottom: 20px;
    text-align: center;
}
.traffic-data-interview-imgcon{
	width: 700px;
	height: 400px;
	margin: 0 auto;
	
}
.traffic-data-interview h2{
	padding-bottom: 0px;
}
.traffic-data-interview img{
	width: 100%;
	height: 400px;
	float: left;
}
.traffic-data-interview h4{
	text-align: center;
	margin-top: 10px;
	float: left;
}
.traffic-data-interview a{
	text-decoration: none;
	color: #C7C7C7;

}
.traffic-data-interview a:hover{
	text-decoration: underline;
}
.traffic-interview{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
}
.traffic-interview h2{
	margin-bottom: 0px;
}
.traffic-interview p {
    color: #FFF;
    font-size: 18px;
    color: #FFF;
    font-weight: lighter;
    width: 700px;
    margin: 0 auto;
    line-height: 30px;
}
.traffic-affinity{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
}
.traffic-affinity h2{
	padding-bottom: 0;
}
.traffic-affinity-con{
	width: 700px;
	margin: 0 auto;
	float: none;
}
.traffic-affinity img{
	width: 700px;
}
.traffic-affinity h3{
	width: 100%;
	text-align:  center;
}
.traffic-findingsummary{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
}
.traffic-findings{
	width: 1140px;
	margin: 0 auto;
}
.traffic-findingsummary h2{
	padding-bottom: 0;
}
.traffic-findings p{
	color: #FFF;
	font-size: 18px;
	font-weight: lighter;
	line-height: 25px;
}
.finding-design{
	float: left;
	width: 48%;
}
.finding-crash{
	float: right;
	width: 48%;
}
.traffic-draftstory{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-draftstory h2{
	padding-bottom: 0;
}
.traffic-draftstory h5{
	color: 
	font-size:20px;
	color:#FFCC33;
}
.traffic-draftstory h4:hover{
	text-decoration: underline;
}
.traffic-wireframe{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-wireframe h2{
	padding-bottom: 10px;
}
.traffic-wireframe h4:hover{
	text-decoration: underline;
}
.traffic-vis-1{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-validation{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-validation h2{
	padding-bottom: 10px;
}
.traffic-validation p{
	text-align: left;
	width: 700px;
	margin: 0 auto;
	line-height: 30px;
	color: #fff;
	font-weight: lighter;
}
.traffic-next h2{
	padding-bottom: 10px;
}
.traffic-next{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
}
.traffic-next p{

	width: 700px;
	margin: 0 auto;
	line-height: 30px;
	color: #fff;
	font-weight: lighter;
}
.traffic-improve{
	float: left;
	width: 100%;
	background-color: #464646;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-improve h2{
	padding-bottom: 10px;
}
.traffic-improve img{
	width: 631px;
}
.traffic-thanks{
	float: left;
	width: 100%;
	background-color: #323232;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
.traffic-thanks h2{
	padding-bottom: 0;
}
/*traffic*/
.header-animal{
	background-color: #C41B2C;
	width: 100%;
	float: left;
	height: 50px;
	z-index: 2;
	position: absolute;
}

.star-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	text-align: center;

}
.star-project h5{
	color: #c41B2C;
	font-size: 20px;
	text-align: center;
	text-align: left;
	width: 1000px;
	margin: 0 auto;
	font-weight: lighter;
}
.star-project h3{
	color: #c41B2C;
	font-size: 20px;
	font-weight: normal;
}
.star-head-img{
	margin-top: 30px;
	margin-bottom: 20px;
}
.star-class{
	margin: 0 auto;
	width: 660px;
}
.star-discription{
	padding-top: 30px;
	padding-bottom: 90px;
}
.star-discription h4{
	color: #c41B2C;
	font-size: 20px;
	font-weight: normal;
	float: left;
	width: 220px;
	margin: 0;

}
.star-project h2{
	text-align: center;
	color: #c41B2C;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 40px;
}
.star-project p{
	font-size: 20px;
	font-weight: lighter;
	color: #000;
}
.star-discription a{
	text-decoration: none;
}
.star-discription a:hover{
	text-decoration: underline;
}
.star-user{
	float: left;
	width: 100%;
	background-color: #FBEEEF;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-persona{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-persona h2{
	padding-bottom: 20px;
}
.star-persona img{
	width: 800px;
}
.star-journey{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FBEEEF;
}
.star-journey h2{
	padding-bottom: 20px;
}
.star-journey img{
	width: 900px;
}
.star-problem{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-problem h2{
	padding-bottom: 10px;
}
.star-problem p{
	width: 548px;
	margin:0 auto;
	text-align: left;
	line-height: 40px;
}
.star-p-u{
	width: 548px;
	margin:0 auto;
	text-align: left;
	text-decoration: underline;
}

.star-allcontent{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FBEEEF;
}
.star-allcontent h2{
	padding-bottom: 20px;
}
.star-allcontent img{
	width: 900px;
}
.star-allcontent a{
	color: #000;
	width: 100%;
	text-align: center;
	float: left;
	margin-top: 30px;
}
.star-allcontent a:hover{
	font-weight: bold;
}
.star-recontent{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-recontent h2{
	padding-bottom: 20px;
}
.star-recontent img{
	width: 900px;
}
.star-solution{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FBEEEF;
}
.star-solution h2{
	padding-bottom: 20px;
}

.star-flow-1{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-flow-2{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FBEEEF;
}
.star-featuremap{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
}
.star-wireframe{
	float: left;
	width: 100%;
	text-align: center; 
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #FBEEEF;
}
.star-wireframe a{
	color: 000;
	text-decoration: none;
}
.star-wireframe a:hover{
	text-decoration: underline;
}
.code-star{
	float: left;
	width: 100%;
	background-color: #c41B2C;
}
.star-watch{
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 70px;
    padding-bottom: 30px;
}
/*star*/

.header-reminder{
	background-color: #5B8B63;
	width: 100%;
	float: left;
	height: 50px;
	z-index: 2;
	position: absolute;
}

.reminder-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	text-align: center;

}

.reminder-project h3{
	color: #c41B2C;
	font-size: 20px;
	font-weight: normal;
}

.reminder-h{
	background:url(images/reminder-head2.jpg) no-repeat center center;
	float: left;
    background-size: cover;
    width: 100%;
    position: relative;
    /*padding-top: 120px;
    padding-bottom: 170px;*/
    height: 630px;
}

.code-reminder{
	background-color: #5B8B63;
	float: left;
	width: 100%;
}
.reminder-t-con{
	width: 400px;
	float: right;
	margin-right: 110px;
	padding-top: 160px;
	padding-bottom: 200px;
}
.reminder-title{
	float: left;
	margin-bottom: 20px;
}
.reminder-hh{
	float: left;
}
.reminder-hh h3 {
    color: #FFF;
    width: 100%;
    float: left;
    text-align: left;
    margin-top: 10px;
}
.reminder-hh img{
	float: right;
    padding: 0;
    margin: 0;
    margin-right: 180px;
    margin-top: -70px;
}

.reminder-project h2{
	text-align: center;
	color: #5B8B63;
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 40px;
	padding-top: 70px;
}
.reminder-idea{
	float: left;
	width: 100%;
	padding-bottom: 70px;
}

.reminder-idea-1{
	width: 900px;
	margin: 0 auto;
}
.r-d-1-r{
	float: right;
	width: 400px;
	margin-top: 45px;
}

.reminder-idea-1 img{
	float: left;
}
.reminder-idea-1 h4{
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 0;
}

.reminder-idea-1 p{
	float: left;
	text-align: left;
	width: 100%;
}
.reminder-idea-con{
	float: left;
	width: 100%;
}
.reminder-idea-2{
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
}
.reminder-idea-2 img{
	float: left;
	width: 50px;
}
.reminder-idea-2 p{
	float: right;
	width: 800px;
	margin-top: 5px;
	margin-left: 50px;
	text-align: left;
}
.reminder-idea-3{
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
}
.reminder-idea-3 img{
	float: left;
	width: 50px;
	margin-top: 15px;
}
.reminder-idea-3 p{
	float: right;
	width: 800px;
	margin-left: 50px;
	margin-top: 5px;
	text-align: left;
}
.reminder-idea-4{
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
}
.reminder-idea-4 img{
	float: left;
	margin-top: 15px;
}
.reminder-idea-4 p {
    float: right;
    width: 350px;
    margin-left: 30px;
    margin-top: 80px;
    text-align: left;
}

.re-draftflow{
	float: left;
	width: 100%;
	padding-bottom: 70px;
	background-color: #DEE8DF;
}
.re-draft{
	width: 1024px;
	margin: 0 auto;
}

.re-draft img{
	float: left;
	width: 550px;
}

.re-draft h4{
	float: right;
	width: 450px;
	text-align: left;
	margin-top: 50px;
}
.re-draft p{
	float: right;
	width: 450px;
	text-align: left;
	line-height: 3;
}

.re-affinity{
	width: 1024px;
	margin: 0 auto;

}
.re-affinity h2 {
    padding-top: 70px;
    float: left;
    text-align: center;
    width: 100%;
}
.re-affinity img{
	float: left;
	width: 100%;
}


.re-affinity p{
	float: left;
	margin-left: 64px;
	text-align: left;
	line-height: 2;
	margin-bottom: 70px;
}
.re-im-flow{
	float: left;
	width: 100%;
	background-color: #DEE8DF;
}

.re-im-flow-c{
	width: 1024px;
	margin: 0 auto;
	float: none;

}
.re-im-flow h2 {
    padding-top: 70px;
    float: left;
    text-align: center;
    width: 100%;
}

.re-im-flow-p{
	width: 360px;
	margin: 0 auto;
	float: none;
}
.re-im-flow p{
	float: left;
	text-align: left;
	line-height: 2;
	margin-bottom: 70px;
}

.re-content{
	float: left;
	width: 100%;
	margin-bottom: 70px;
}
.re-content h4{
	margin-bottom: 0;
	padding-bottom: 20px;
	margin-top: 0;
}
.re-content img{
	margin:  0 auto;
	margin-top: 40px;
}

.re-feature{
	float: left;
	width: 100%;
	padding-bottom: 70px;
	background-color: #DEE8DF;
}
.re-feature h4{
	margin-bottom: 0;
	padding-bottom: 20px;
	margin-top: 0;
}
.re-feature img{
	margin:  0 auto;
	width: 1024px;
}
.re-draftdesign{
	float: left;
	width: 100%;
	padding-bottom: 70px;
}
.re-draftdesign h2{
	padding-bottom: 20px;
}
.re-draftdesign p{
	margin: 0 auto;
	width: 863px;
	text-align: left;
}
.re-draftdesign img{
	margin: 0 auto;
	width: 1024px;
	margin-bottom: 20px;
}
.re-d-1 p{
	margin-bottom: 30px;
}
.re-d-2 img{
	margin: 0 auto;
	width: 863px;
	margin-bottom: 20px;
}
.re-validation{
	float: left;
	width: 100%;
	padding-bottom: 70px;
	background-color: #DEE8DF;
}
.re-validation a{
	color: #000;
}
.re-validation h2{
	padding-bottom: 20px;
}
.re-validation p{
	line-height: 2;
	text-align: left;
	width: 700px;
	margin: 0 auto;
}
.re-vali-a img{
	width: 1024px;
}
.re-vali-b img{
	width: 1024px;
}
.re-demo{
	float: left;
	width: 100%;
	padding-bottom: 70px;
}
.re-demo h2{
	padding-bottom: 20px;
}
.re-demo a{
	color: #000;
}
.re-tks{
	float: left;
	width: 100%;
	background-color: #DEE8DF;
	padding-bottom: 30px;
}


 /*reminder*/

.header-party{
	background-color: #000;
	width: 100%;
	float: left;
	height: 50px;
	z-index: 2;
	position: absolute;
}

.party-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	text-align: center;

}

.party-project h3{
	color: #000;
	font-size: 20px;
	font-weight: normal;
}

.party-intro{
	background:url(images/party-1.png) no-repeat center center;
	float: left;
    background-size: cover;
    width: 100%;
    position: relative;
    height: 630px;
    color: #FFF;
}
.party-intro h1{
	font-size: 45px;
		margin-top: 150px;
	margin-bottom: 50px;
}

.party-intro h2{
	font-size: 20px;
	font-weight: normal;

}

.party-in{
	width: 520px;
	margin: 0 auto;
}
.party-in h3{
	float: left;
	width: 100px;
	font-size: 20px;
	color: #fff;
	line-height: 1.5;
}
.party-in p{
	float: right;
	text-align: left;
	width: 420px;
	font-size: 20px;
	line-height: 1.5;

}
.party-circuit{
	width: 100%;
	float: left;
	padding-top: 70px;
	padding-bottom: 70px;
}
.party-circuit img{
	width: 800px;
	margin: 0 auto;
	margin-top: 40px;
}

.party-wire{
	float: left;
	width: 100%;
	background-color: #F5F5F5;
	padding-top: 70px;
	padding-bottom: 70px;
}
.party-wire img{
	width: 650px;
	margin: 0 auto;
	margin-top: 40px;
}

.party-code{
	float: left;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.party-code h2{
	margin-bottom: 40px;
}

.party-code h3{
	float: left;
	width: 48%;
	text-align: right;
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #000;
}
.party-code h4{
	float: right;
	width: 48%;
	text-align: left;
	font-size: 20px;
	line-height: 1;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 10px;
	color: #000;
}
.party-code h3:hover{
	text-decoration: underline;
}
.party-code h4:hover{
	text-decoration: underline;
}

.party-demo{
	padding-top: 70px;
	padding-bottom: 70px;
	float: left;
	width: 100%;
	background-color: #f5f5f5;
}
.party-demo h2{
	margin-bottom: 40px;
}

.party-tks{
	float: left;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
.code-party{
	background-color: #000;
	float: left;
	width: 100%;
}

/*party*/
.header-weekend{
	background-color: #C4731B;
	width: 100%;
	float: left;
	height: 50px;
	z-index: 2;
	position: absolute;
}

.weekend-project{
	float: left;
	width: 100%;
	font-family: helvetica;
	text-align: center;
}
.weekend-dis{
	padding-bottom: 70px;
}
.weekend-project h3{
	color: #000;
	font-size: 20px;
	font-weight: normal;
}
.weekend-dis-img {
    float: left;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 50px;
}
.weekend-dis-img h2{
	float: right;
	font-size: 40px;
	width: 500px;
	text-align: left;
}
.weekend-img{
	width: 700px;
	margin: 0 auto;
}
.weekend-dis img{
	float: left;
}
.weekend-dis p{
	font-weight: lighter;
	width: 770px;
	margin: 0 auto;
	text-align: left;
	line-height: 1.5;
	font-size: 18px;
}
.weekend-aest{
	float: left;
	width: 100%;
	background-color:#FAF3EA;
	padding-top: 70px;
	padding-bottom: 70px;
}
.weekend-aest h2{
	color: #C4731B;
}
.weekend-aest p{
	padding-top: 30px;
	padding-bottom: 30px;
}
.weekend-aestimg{
	width: 840px;
	margin: 0 auto;
}
.weekend-aestimg img{
	width: 400px;
	float: left;
	padding: 10px;
}
.weekend-function{
	float: left;
	padding-bottom: 70px;
	padding-top: 70px;
	width: 100%;
	text-align: center;
}
.weekend-function h2{
	color: #C4731B;
	padding-bottom: 20px;
}
.weekend-func{
	float: left;
	width: 100%;
}
.weekend-func-con{
	width: 600px;
	margin:0 auto;
}
.weekend-func-con p{
	float: left;
	width: 150px;
	text-align: left;
	line-height: 1.9;
}
.weekend-func-con img{
	float: left;
	width: 450px;
}
.weekend-narra{
	float: left;
	width: 100%;
	background-color:#FAF3EA;
	padding-bottom: 70px;
	padding-top: 70px;
}
.weekend-narra h2{
	color: #C4731B;
}
.code-weekend{
	background-color: #C4731B;
	float: left;
	width: 100%;
}
.weekend-watch{
	padding-bottom: 70px;
	padding-top: 70px;
	float: left;
	width: 100%;
}

/*weekend*/